<!DOCTYPE html>
{% include htmlOpen.html %}
{% if page.taal == "eng" %}
  {% include nav.html  menu="home2" %}
{% else %}
  {% include nav.html menu="home" %}
{% endif %}
{{ content }}
{% if page.url == '/contact/' or page.url =='/contact2/' %}
  <div id="mapWrapper"></div>
{% endif %}
{% include contact.html %}
{% include footer.html %}
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">bevestiging</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">sluit</button>
			</div>
		</div>
	</div>
</div>
{% include htmlClose.html %}
