---
layout: default
class: page
---
{% include slider.html %}
<section class="container-fluid {{page.class}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 sidemenu hidden-xs">
				{% include subnav.html affix=false %}
			</div>
			<div class="col-sm-3 sidemenu visible-xs">
				{% include subnav.html affix=false %}
			</div>
			<div class="col-sm-5 content">
        <h1 class="pageTitle">{{page.title}}</h1>
				{{ content }}
			</div>
			<aside class="col-sm-4">
				{% if page.illustratie %}
				{% for illustratie in page.illustratie %}
				<img src="/assets/img/illustraties/{{illustratie}}" alt="illustratie {{page.title}}  gemaakt door Erwin Hogeboom">
				{% endfor %}
				{% endif %}
			</aside>
		</div>
	</div>
</section>
